<div class="row">
  <div class="col-md-3 text-center">
<%= image_tag @user.profile.avatar.url, class: 'user-show-avatar' %>
  </div>
  <div class="col-md-6">
    <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
    <h3><span class="job-title-icon"><%= job_title_icon %></span> <%= @user.profile.job_title %></h3>
    <div class="well profile-block profile-description">
      <h3>Description</h3>
      <%= @user.profile.description %>
    </div>
    <% if current_user.plan_id == 2 %>
      <div class="well profile-block contact-info">
        <h3>Contact Info</h3>
        <%= @user.profile.phone_number %><br/>
        <%= @user.profile.contact_email %><br/>
      </div>
    <% end %>
  </div>
</div>